<strong>Hello {{ organizer }}</strong>
<p>A new user has recently subscribed to your Meetup. Please check the details below:</p>
<p>
  <strong>Meetup name: </strong> {{ meetup }} <br />
  <strong>User: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{date}} <br />
</p>
